{% extends 'modelo.html' %}

{%load static%}

{% block head %}

{%block titulo %}
<title>Salas</title>
{%endblock%}

{%block css%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock%}

{%endblock%}

{% if request.user.is_authenticated %}
{% block conteudo%}

<body>
    <nav>
        <div class="barranav">
            <div>
                <img class="imgnav" src="{% static 'img/Logo.png' %}" width="15%">
            </div>

            <div class="linknav">
                <div class="nav-item">
                    <a href="{% url 'cadastrar_sala' %}" class="nav-link">Cadastrar Salas</a>
                </div>

                <div class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Sair</a>
                </div>
            </div>

        </div>
    </nav>

    <header>
        <div class="container">
            <div style="justify-content: center;">
                <br>
                <h1>Laborátorios</h1><br>
            </div>
        </div>
    </header>

    
    <main>
        <section class="container">
            {% for object in object_list%}
            <div class="card mb-3"
                style="max-width: 80rem; flex-direction: row; display: flex; justify-content: space-between">

                <div class="card-body">
                    <ul style="list-style: none; align-items: center; justify-content: center;">
                        <a href="{% url 'reservas-sala' object.id %}" style="color: black !important;">
                            <h5 class="card-title">Sala</h5>
                            <li>{{object.numero}} - {{object.nome}}</li>
                        </a>
                    </ul>
                </div>
                <div class="card-body">
                    <ul style="list-style: none;">
                        <a href="{% url 'reservas-sala' object.id %}" style="color: black !important;">
                            <h5 class="card-title">Bloco</h5>
                            <li>{{object.bloco}}</li>
                        </a>
                    </ul>
                </div>

                <div class="card-body"><br>
                    <a href="{% url 'update-salas' object.id %}">
                        <img src="{% static 'img/lapis.preto.png' %}">
                    </a>

                    <a href="{% url 'delete-salas' object.id %}">
                        <img src="{% static 'img/lixeira.preto.png' %}">
                    </a>
                </div>

            </div>
            {%endfor%}

            <!-- <div>
                {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}">
                    <h2>Voltar </h2>
                </a>
                {%endif%}
    
                {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}">
                    <h1>Próximo </h1></a>
                {%endif%}
            </div> -->

            <div style="background-color: black;">
                <span>
                    
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; Primeiro</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}
                    
                    <span>
                        Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"></a>Última &raquo;</a>
                    {% endif %}
                </span>
            </div>
        
        
        </section>
    </main>
    {%endblock%}


</body>

{%else%}
<h1> Você não está autenticado!</h1>
<h4>Por favor faça login ou cadastre-se para ter acesso.</h4>

<a href="{% url 'login' %}"> Login</a>
<a href="{% url 'register' %}"> Cadastro</a>
{% endif %}


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>


</html>