

.barranav{
  display: flex;
  justify-content: space-between;
  background-color: #2095ff;
  align-items: center;
}
.linknav{
  display: flex;
  padding: 10px;
  align-items: center;
}
.nav-item{
  margin: 0px 10px;
}

