@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Roboto", sans-serif;
}
a {
  color: white !important;
  text-decoration: none;
}

#login-box {
  position: relative;
  margin: auto;
  width: 1100px;
  height: 746px;
  font-size: 15px !important; 
}


.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
  height: 700px;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 160px 00px;
  width: 500px;
  height: 700px;
  background-size: cover;
  background-position: center;
 }

.botao {
  display: flex;
  margin: 10px 5px;
}

@media (min-width: 100px) and (max-width: 770px) {
  .left {
    width: 400px;
    height: 540px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0.5, 0.5, 0.5, 0.5);
  }
  .botao {
    margin: 40px 115px;
  }
  .right {
    display: none;
  }
  #login-box {
    width: 450px;
    height: 90px;
    box-shadow: none;
  }
}
