{% extends 'modelo.html' %}

{%load static%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

<!DOCTYPE html>
<html lang="pt-br">


{% block conteudo %}
<body>


    <nav>
        <ul class="nav justify-content-end"
        style="background-color: #2095ff;">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'index'%}">Voltar</a>
            </li>
        </ul>
    </nav>


    <form method="post">
        {% csrf_token %}
        <fieldset>
            <div id="login-box">
                <div class="left">
                    <h3>Cadastrar Usuário</h3>
                    {% for field in form %}

                    <div class="form-group">
                        <label for="{{ field.id_for_label}}"> {{ field.label}} </label>
                        {{field}}
                    </div>

                    <div class="form-group">
                        {% if field.help_text %}
                        <p class="help_tex"> {{ field.help_text}} </p>
                        {% endif %}
                        {{field.errors}}
                    </div>

                    {%endfor%}
                    <button type="submit" class="botao btn btn-outline-info">Enviar</button>
                </div>

                <div class="right">
                    <img src="{% static 'img/banner_de_formularios.png' %}" width="100%">
                </div>
            </div>
        </fieldset>
    </form>

</body>

{%endblock%}

