body 
{
    margin: 10%;
    background-image: linear-gradient(to right, #2095ff, #d9d9d9  );
}

.main-login
{
    width: 100%; /*100% da largura*/
    height: 100%; /*100% da altura*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rigth-login
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login
{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 47px 80px;
    background: #d9d9d9a2;
}

.textfield
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
}

.textfield input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
}
.rigth-login img
{
    width: 74% !important; 
}

.textfield label
{
    margin-bottom: 15px;
}

.btn-login
{
    width: 50%;
    padding: 16px 0px;
    margin: 50px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase; /*deixar todas as letras maiúsculas*/
    font-weight: 800; /*deixar a letra em negrito*/
    letter-spacing: 2px; /*espaçamento entre as letras*/
    background: #2095FF;
    cursor: pointer;
}

/* @media (min-width: 1000px){

.card-login {
    width: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18px 55px;
    background: #D9D9D9;
}
.rigth-login {
    width: 54.8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
} */

.col img {
    width: 30%;
}