.laboratorios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  justify-content: center;
}
h2 {
  margin-left: 72px;
}

#rodape {
  background-color: #2095ff;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.titulo {
  margin-left: 300px;
}

a {
  color: white !important;
}

.barranav {
  display: flex;
  justify-content: space-between;
  background-color: #2095ff;
  align-items: center;
}

.linknav {
  display: flex;
  padding: 10px;
}

.nav-item {
  margin: 0px 10px;
}

@media (max-width: 1100px) {
  .linknav {
    flex-direction: row;
  }

  .imgnav {
    width: 20%;
  }

  .nav-item {
    margin: 4px 30px;
  }

  .cabecalho {
    flex-direction: column;
  }

  .titulo {
    margin-left: 100px;
  }

  .imgheader {
    margin-left: 250px;
    width: 70%;
  }
}
