.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2095ff;
  color: black;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: white !important;

}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

@media (max-width: 1100px) {
  .cabecalho{
    flex-direction: column;
  }
  
  .imgheader {
    margin-left: 250px;
    width: 70%;
  }
}