{%load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>

<body>

    <div id="login-box">
        <div class="left">
            <img src="{% static 'img/login.gif' %}" width="140%">
        </div>
        <div class="right">
            <form method="post" class="from-group">
                <div class="from-control">
                    {% csrf_token %}
                    {{form}}
                    <p>Ainda não tem cadastro? Crie agora mesmo! <a href="/register">Criar Cadastro</a></p>
                </div>
               
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>

    </div>
    
</body>

</html>