{% extends 'modelo.html' %}

{% load static %}

 {%block titulo %}
 <title>Index</title>
 {%endblock%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/agenda.css' %}">
{% endblock %}

{% if request.user.is_authenticated %}



{% block conteudo %}
<body>
    

    <nav>
        <div class="barranav">
            <div>
                <img src="{% static 'img/Logo.png' %}" width="15%">
            </div>

            <div class="linknav">
                <div class="nav-item">
                    <a class="nav-link" href="{%url 'salas' %}">Inicio</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar_reserva' %}">Adicionar reservas</a>
                </div>
                <div class="nav-item">
                    <a href="{% url 'minhas_reservas' %}" class="nav-link">Minhas reservas</a>
                </div>

            </div>

        </div>
    </nav>
    <!--<h1> X {{ reservas }} </h1> --> 
    <header>
        <div class="container" style="padding: 10px;">
            <div class="row align-items-center">
                <div class="col">
                    <br>
                    <h2>Agenda Semanal</h2>
                </div>
            </div>
        </div>
    </header>

<main>
    
    <section class="container" style="padding: 40px 0px;">
        <h3>{{ sala.nome }}</h3><br>
        <div class="informacaosala">
            <div>
                <h6>N {{sala.numero}}</h6>
            </div>
            <div>
                <h6>Capacidade {{sala.capacidade}}</h6>
            </div>
            <div>
                <h6>Bloco {{sala.bloco}}</h6>
            </div>
        </div>
    </section>

    <table class="container table table-hover">
        <thead>
            <tr>
                <th scope="col">Matutino</th>
                <th scope="col">Domingo</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
                <th scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">07:00 - 07:45</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">07:45 - 08:30</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">08:50 - 09:35</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">09:35 - 10:20</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">10:30 - 11:15</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">11:15 - 12:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <br>
    <table class="container table table-hover">
        <thead>
            <tr>
                <th scope="col">Vespertino</th>
                <th scope="col">Domingo</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
                <th scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">13:00 - 13:45</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">13:45 - 14:30</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">14:50 - 15:35</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">15:35 - 16:20</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">16:30 - 17:15</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">17:15 - 18:00</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <br>
    <table class="container table table-hover">
        <thead>
            <tr>
                <th scope="col">Noturno</th>
                <th scope="col">Domingo</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
                <th scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">19:00 - 19:45</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">19:45 - 20:30</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">20:40 - 21:25</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">21:25 - 22:10</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
</main>

</body>
{%endblock%}

{%else%}
        <h1> Você não está autenticado!</h1> 
        <h4>Por favor faça login ou cadastre-se para ter acesso.</h4>
                
        <a href="{% url 'login' %}"> Login</a>
        <a href="{% url 'register' %}"> Cadastro</a>
{% endif %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>

</html>