
{%load static%}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <!-- CSS only -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>


<body>


    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'index'%}">Voltar</a>
            </li>
        </ul>
    </nav>


    <form method="post">
        {% csrf_token %}
        <fieldset>
            <div id="login-box">
                <div class="left">
                     <h3>Cadastrar Usuário</h3>
                    {% for field in form %}
                   
                    <div class="form-group">
                        <label for="{{ field.id_for_label}}"> {{ field.label}} </label>
                        {{field}}
                    </div>

                    <div class="form-group">
                        {% if field.help_text %}
                        <p class="help_tex"> {{ field.help_text}} </p>
                        {% endif %}
                        {{field.errors}}
                    </div>
                       
                    
                     {%endfor%}
                    <button type="submit" class="botao btn btn-outline-info">Enviar</button>
                </div>

                <div class="right">
                    <img src="{% static 'img/banner_de_formularios.png' %}" width="100%">
                </div>
            </div>
        </fieldset>
    </form>

</body>

</html>