{%load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <!-- CSS only -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#descricao">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'menu_salas' %}">Voltar</a>
            </li>
        </ul>
    </nav>

    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <br>
                    <h1>Formulário</h1>
                </div>
                <div class="col">
                    <img src="{% static 'img/banner_de_formularios.png' %}" width="80%">
                </div>
            </div>
        </div>
    </header>

    <div class="titulo">
        <h3>Cadastrar Nova sala</h3>
    </div>

    <form method="post">
        <fieldset>
            <div>
                <div class="form-group">
                    <label>Nome da sala</label><br>
                    <input class="form-control" type="text" name="room_name" id="name" required>
                </div>

                <div style="display: flex; justify-content: space-between;">
                    <div class="form-group">
                        <label>Capacidade</label><br>
                        <input class="form-control" type="number" name="capacity" id="name" required>
                    </div>

                    <div class="form-group">
                        <label>Número da sala</label><br>
                        <input class="form-control" type="number" name="room_number" id="name" required>
                    </div>

                    <div class="form-group">
                        <label>Bloco</label><br>
                        <input class="form-control" type="text" name="block" id="name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descrição</label>
                    <textarea class="form-control" name="description" rows="5"></textarea>
                </div>

        </fieldset>

        <button type="button" class="btn btn-outline-info">Enviar</button>

    </form>

</body>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <img class="logorodape" src="{% static 'img/Logo.png' %}" width="7%">

    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <img src="{% static 'img/gmail.png'%}">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Ifrn_pf@gmail.com<a></li>
        <img src="{% static 'img/telefone.png'%}">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Telefone</a></li>
        <img src="{% static 'img/instagram.png'%}">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Instagram</a></li>
        <img src="{% static 'img/facebook.png'%}">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Facebook</a></li>
        <img src="{% static 'img/local.png'%}">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Localização</a></li>
    </ul>
</footer>

</html>