{% extends 'modelo_footer.html' %}

{%load static%}

{% block head %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <!-- CSS only -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
{%endblock%}

 {%block conteudo%}
<body>
   
    <nav>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'menu_salas' %}">Voltar</a>
            </li>
        </ul>
    </nav>


    <form method="POST">{% csrf_token %}
        <fieldset>
            <div id="login-box">
                <div class="left">
                    <h3>Cadastrar Nova sala</h3>
                    <div class="form-group">
                        <label>Nome da sala</label><br>
                        <input class="form-control" type="text" name="room_name" id="name" required>
                    </div><br>

                    <div style="display: flex; justify-content: space-between;">
                        <div class="form-group">
                            <label>Capacidade</label><br>
                            <input class="form-control" type="number" name="capacity" id="name" required>
                        </div>

                        <div class="form-group">
                            <label>Número da sala</label><br>
                            <input class="form-control" type="number" name="room_number" id="name" required>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <label>Bloco</label><br>
                        <input class="form-control" type="text" name="block" id="name" required>
                    </div><br>


                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descrição</label>
                        <textarea class="form-control" name="description" rows="5"></textarea>
                    </div>
                    <button type="button" class="botao btn btn-outline-info">Enviar</button>
                </div>
                <div class="right">
                    <img src="{% static 'img/banner_de_formularios.png' %}" width="100%">
                </div>

            </div>
        </fieldset>


    </form>
    
</body>
{%endblock%}


</html>