{% extends 'modelo.html' %}

{%load static%}

 {%block titulo %}
 <title>Salas</title>
 {%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{%endblock%}

{%block conteudo%}
<body>
   

    <form method="post">
        {% csrf_token %}
        <fieldset>

            <div id="login-box">
                <div class="left">
                    <h3>Cadastrar Reserva de Horário</h3>
                    <div class="form-group">
                        <label for="{{form.nome.id_for_label}}">{{form.nome.label}}</label>
                        {{form.nome}}
                        <label for="">Horário</label>
                        {{form.horario}}
                    </div><br>

                    <div class="form-group">
                        <label for="{{form.data.id_for_label}}">{{form.data.label}}</label>
                        {{form.data}}
                    </div><br>

                    <div class="form-group">
                        <label for="">Número da sala - Nome da sala</label>
                    </div><br>
                    {{form.sala}}
                    

                    <div class="form-group">
                        <label for="{{form.nome.id_for_label}}">{{form.descricao.label}}</label><br>
                        {{form.descricao}}
                    </div>
                    <button type="submit" class="botao btn btn-outline-info">Enviar</button>
                </div>
                <div class="right">
                    <img src="{% static 'img/banner_de_formularios.png' %}" width="100%"><br>
                </div>

            </div>
        </fieldset>

    </form>
</body>
{% endblock %}

{%block footer%}

{%endblock%}
</html>