{% extends 'modelo.html' %}

{%load static%}

 {%block titulo %}
 <title>Salas</title>
 {%endblock%}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{%endblock%}

{% if request.user.is_authenticated %}
{%block conteudo%}


<form method="post">
	{% csrf_token %}

	<p>Você está tentando apagar uma reserva, tem certeza que deseja realizar está ação?</p>

		<input type="submit" value="Confirm">
</form>

{%endblock%}

{%else%}
        <h1> Você não está autenticado!</h1> 
        <h4>Por favor faça login ou cadastre-se para ter acesso.</h4>
                
        <a href="{% url 'login' %}"> Login</a>
        <a href="{% url 'register' %}"> Cadastro</a>
{% endif %}
	